* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

header {
   width: 100%;
   display: flex;
   flex-wrap: nowrap;
   margin-top: 2rem;
   font-size: 2rem;
   padding-bottom: 10%;
}

header a{
   margin-right: 35%;
   margin-left: 5%;
   text-decoration: none;
}

header p{
   margin-left: 35%;
   margin-right: 5%;
}

.landing{
   width: 60%;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 15%;
}

.landing h1 {
   text-align: center;
   border-bottom: 3px solid lightgrey;
   padding-bottom: 2rem;
   margin-bottom: 2rem;
}

.landing p {
   text-align: center;
}

.landing .btn {
   justify-items: center;
   margin-top: 10%;
}

.test {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin: auto;
   width: 80%;
   text-align: center;
}

.test h1 {
   width: 100;
}


.question {
   width: 100%;
   border-bottom: 3px solid lightgrey;
   padding-bottom: 1rem;
   margin-bottom: 2rem;
}

.answers {
   width: 100%;
   justify-content: left;
}

.answers button {
   width: 80%;
}

.btn, .answer-btn {
   background-color: #06aed5;
   font-size: large;
   padding: 10px;
   text-align: left;
   margin: 10px;
   border-radius: 10px;
   border: none;
}

.answer-btn:hover,
.btn:hover {
   transition: 0.7s;
   background-color: rgb(255, 208, 0);
}

.end-page {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 20% auto;
   width: 80%;
}

.end-page h1 {
   text-align: center;
   font-size: 2rem;
   padding-bottom: 20px;
}

.end-page p {
   width: 60%;
   padding: 20px;
   text-align: center;
   font-size: 1.5rem;
}

.end-page .initials {
   width: 40%;
}

.end-page .btn {
   width: 50%;
   text-align: center;
   margin-top: 20px;
}

#personal-score {
   text-align: center;
   margin: auto;
   width: 100%;
   font-size: 3rem;
}

.high-scores {
   text-align: center;
   margin-top: 50px;
}

.high-scores h1 {
   padding-bottom: 20px;
}

.high-scores li {
   text-align: center;
   padding: 10px;
   list-style: none;
}
